.about {
    margin-bottom: 93px;

    .row {
        border: 1px dashed $white;
        padding: 115px 125px 115px 80px;

        .col-50 {

            &:first-child {
                width: calc(60% - 30px);
                flex-direction: column;
                margin-right: 5px;

                h2 {
                    font-size: 45px;
                    font-weight: 400;
                    margin-bottom: 50px;
                }

                p {
                    line-height: 29px;
                    margin-bottom: 80px;
                }
            }

            &:last-child {
                width: calc(40% - 30px);

                img {
                    max-width: 378px;
                    max-height: 307px;
                }
            }
        }
    }
}