.about {
    margin-bottom: 93px;

    .row {
        border: 1px dashed $white;
        padding: 115px 125px 115px 80px;

        @include screen(992px) {
            flex-direction: column-reverse;
            padding: 85px 95px 85px 70px;
        }

        @include screen(576px) {
            padding: 55px 35px 50px 35px;
        }

        .col-50 {

            &:first-child {
                width: calc(60% - 30px);
                flex-direction: column;
                margin-right: 5px;

                @include screen(992px) {
                    padding-top: 30px;
                    width: 90%;
                }

                h2 {
                    text-align: left;
                    margin-bottom: 50px;
                }

                p {
                    line-height: 29px;
                    margin-bottom: 80px;
                }
            }

            &:last-child {
                width: calc(40% - 30px);

                img {
                    max-width: 378px;
                    max-height: 307px;

                    @include screen(470px) {
                        max-width: 300px;
                    }

                    @include screen(380px) {
                        max-width: 245px;
                    }
                }
            }
        }
    }
}