@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $whiteHalf;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $whiteHalf;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $whiteHalf;
}
:-moz-placeholder { /* Firefox 18- */
    color: $whiteHalf;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font: 400 17px/1 $poppins;
    color: $light;
    background: #041436 url(../images/background.jpg) no-repeat 50% 100%;
}

a {
    text-decoration: none;
    color: $white;
    cursor: pointer;
}

input {
    outline: none;
}

table {
    border-collapse: collapse;
}

video {
    width: 100%;
    height: auto; 
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1150px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;

    &--large{
        @extend .container;
        max-width: 1810px;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 225px;
    width: 100%;
    color: $white;
    padding: 22px 60px;
    border: 2px solid $white;
    transition: .3s ease;
    text-align: center;

    &:hover {
        background: $gold;
        border: 2px solid $gold;
    }

    @include screen(360px) {
        padding: 22px 35px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    @include screen(768) {
        flex-direction: column;
    }
}

.col-50 {
    width: 50%;
    display: flex;

    @include screen(768) {
        width: 100%;
    }
}

.col-25 {
    width: calc(25% - 21px);
}

.title-45 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
}

.title-25 {
    font-weight: 700;
    font-size: 25px;
    margin: 0 0 25px;
    text-transform: uppercase;
}

.gold-text {
    color: $gold;
}
