.charts {
	.tabs {
		&__buttons {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-bottom: 15px;
			border: 1px solid rgba(255, 255, 255, 0.63);
			padding: 0 20px;

			@include screen(1060px) {
				justify-content: center;
			}
		}

		&__button {
			font-weight: 700;
			padding: 15px 20px;
			cursor: pointer;
			transition: 0.3s ease;
			color: $white;

			&.active,
			&:hover {
				color: $gold;
			}
		}

		&__content {
			border: 1px solid rgba(255, 255, 255, 0.63);
			padding: 0 15px;
		}

		&__marquee {
			padding: 25px 0;
			display: flex;
			align-items: center;
			overflow: hidden;
			animation: marquee 15s linear infinite;

			@keyframes marquee {
				0% {
					transform: translateX(100%);
				}
				100% {
					transform: translateX(-100%);
				}
			}

			&:hover {
				animation-play-state: paused;
			}

			&-item {
				text-align: center;
				width: 20%;
				padding: 15px;

				div {
					display: inline-block;
					text-transform: uppercase;
					margin: 0 0 8px;
				}
			}

			@include screen(768px) {
				padding: 15px 25px;
			}
		}

		&__item {
			display: none;
			padding: 0 0 45px;
			overflow: hidden;

			&.active {
				display: block;
				animation-name: fade;
				animation-duration: 0.7s;
			}

			@keyframes fade {
				from {
					opacity: 0;
				}
				to {
					opacity: 1;
				}
			}

			.row {
				padding: 36px 75px 0;
				border-top: 1px solid rgba(54, 54, 54, 0.26);
			}

			.col-50 {
				display: block;
				width: auto;
				max-width: calc(50% - 20px);

				img {
					max-height: 270px;
				}
			}
			@include screen(1060px) {
				.row {
					padding: 36px 50px 0;

					.col-50 {
						&:first-child {
							margin-right: 15px;
						}

						img {
							max-width: 400px;
						}
					}
				}
			}

			@include screen(965px) {
				.row {
					flex-direction: column;
					align-items: center;

					@include screen(705px) {
						align-items: flex-start;
						margin-right: 15px;
					}

					.col-50 {
						&:first-child {
							margin: 0 0 15px;
						}

						img {
							max-width: 350px;

							@include screen(470px) {
								max-width: 210px;
							}
						}
					}
				}
			}
		}
	}

	&__title {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 32px;

		h5 {
			font-weight: 700;
			font-size: 20px;

			@include screen(768px) {
				margin: 0 15px 5px 0;
			}
		}

		span {
			text-transform: uppercase;
		}
	}
}
